[submodule "dspal"]
	path = dspal
	url = https://github.com/ATLFlight/dspal.git
[submodule "Utils/nano-dm"]
	path = Utils/nano-dm
	url = https://github.com/kevinmehall/nano-dm.git
[submodule "ROS/fprime_ws/src/std_msgs"]
	path = ROS/fprime_ws/src/std_msgs
	url = https://github.com/ros/std_msgs.git
[submodule "ROS/fprime_ws/src/common_msgs"]
	path = ROS/fprime_ws/src/common_msgs
	url = https://github.com/ros/common_msgs.git
