<events>
    <event id="0" name="FTFO_InitFailed" severity="WARNING_HI" format_string = "Init failed due to %d" >
        <args>
            <arg name="error" type="ENUM">
                <enum name="FTFO_InitErrorType">
                    <item name="FTFO_PrmUnset" comment="One of the non-default parameters unset"/>
                </enum>
                <comment>The error code</comment>
            </arg>
        </args>
        <comment>
             FTFO init failed for the following reason
        </comment>
    </event>
</events>
