/*
 * ${name}.hpp
 *
 *  Created on: ${date}
 *  Author:     ${user}
 *
 */
#if $namespace_list != None
\#ifndef #for $namespace in $namespace_list#${namespace.upper()}_#end for#${name.upper()}_SERIALIZABLE_HPP_
\#define #for $namespace in $namespace_list#${namespace.upper()}_#end for#${name.upper()}_SERIALIZABLE_HPP_
#else
\#ifndef ${name.upper()}_SERIALIZABLE_HPP_
\#define ${name.upper()}_SERIALIZABLE_HPP_
#end if
